:root {
    --primary-color: #423835;
    --neutral-color: #f7fbfd;
    --accent-color: #e47045;

    /* --primary-color: #382213;
    --neutral-color: #fbf2e7;
    --accent-color: #f7963c; */

    /* --primary-color: #282123;
    --neutral-color: #fbfffb;
    --accent-color: #ec5826; */
}


*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;

}

body{
    font-family: sans-serif;
}

header{
    background-color: var(--primary-color);
    color: var(--neutral-color);
    /* padding: 1rem;
    */
}

header h1 {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
}

header h1 span {
    color: var(--accent-color);

}


nav{ 
    height: 70px;

}

nav ul{
    float: left;
    margin-right: 30px;

}

nav ul li{
    display: inline-block;

}
nav ul li a{
    color: var(--neutral-color);
    display: block;
    padding: 0 15px;
    line-height: 30px;
    font-size: 20px;
    background: var(--primary-color);
    transition: .5s;
}

nav ul li a:hover{
    color:var(--accent-color);
}
/* nav ul li a.active{ */
    



nav ul ul{
    position: absolute;
    top: 85px;
    border-top: 3px solid var(--primary-color);
    opacity: 0;
    visibility: hidden;
}

nav ul li:hover > ul{
    top:70px;
    opacity: 1;
    visibility: visible;
    transition: .3s linear;
}

nav ul ul li{
    width: 150px;
    display: list-item;
    position: relative;
    border: 1px solid var(--primary-color );
    border-top: none;

}

nav ul ul li a{
    line-height: 45px;

}

nav ul ul ul {
    border-top: none;

}

nav ul ul ul li {
    position: relative;
    top: -70px;
    left: 150px;

}

nav ul ul li a li{
    margin-left: 55px;
}

.back-btn{
    position: absolute;
    top: 3.6%;
    left: 90%;
    width: 120px;
    height: 40px;
    font-size: 1.5rem;
    border-radius: 20px;
    background-color: var(--accent-color);
    color: var(--neutral-color);
    border: 2px solid var(--accent-colorr);

}

.back-btn:hover {
    background-color: var(--neutral-color);
    color: var(--accent-color);
    border: 2px solid var(--neutral-color);

}

.search-box{
    text-align: center;


}

.search-box input{
    width: 40rem;
    height: 2.5rem;
    margin: 2rem;
    border-radius: 15px;
    padding: 0.5rem;
    border: 2px solid var(--accent-color);
    font-size: 1rem;
    color: var(--primary-color);
}

.search-btn{
    width: 120px;
    height: 40px;
    font-size: 1.5rem;
    border-radius: 20px;
    background-color: var(--accent-color);
    color: var(--neutral-color);
    border: 2px solid var(--accent-colorr);
}

.search-btn:hover {
    background-color: var(--primary-color);
    color: var(--accent-color);
    border: 2px solid var(--primary-color);

}